body{

}

.navbar-inverse {
    background-color: #4c7bd4;
    border-color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand,
.navbar-inverse .btn-link{
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #d7d7d7;
}